:root {
  --primary-color: #472267;
  --regular-purple: #664881;
  --dark-purple: #2b153e;
  --light-purple: #927ca5;
  --black: #000001;
  --white: #fefefe;
  --green: #33a95b;
  --red: #9c2c2d;
}

* {
  margin: 0;
  padding: 0;

  font-family: "Rubik", sans-serif;
  text-decoration: none;

  box-sizing: border-box;
}

html {
  font-size: 62.5;
}

body {
  width: 100%;
  height: 100%;

  display: flex;

  color: var(--white);
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.content {
  width: 100vw;
  background: linear-gradient(to right, var(--black), var(--dark-purple));
}

.content header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.content header img {
  width: 6.4rem;
}

.content section {
  height: 100vh;

  overflow: hidden;
}

.content .subscribe:hover,
.content .products .card-product:hover {
  box-shadow: var(--light-purple) 0 0 0.8rem 0.3rem;
  transition: 300ms;
}

footer {
  height: 34vh;

  background: var(--black);

  margin-top: 2.4rem;
}

footer .ad p {
  font-size: 2rem;
  margin-bottom: 1rem;
}

footer .ad {
  text-align: center;

  padding: 2rem 20rem;

  display: flex;
  justify-content: space-between;
}

footer .ad .challenger img {
  width: 20rem;
}

footer .ad .anzol img {
  width: 4rem;
}

footer .credits {
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

footer .credits p {
  margin-bottom: 0.2rem;
}

footer .credits .social-media img {
  width: 2.4rem;
}

footer .reserved-rights {
  margin-top: 0.2rem;

  display: flex;
  justify-content: center;
}
